
body {
	font-family: "Montserrat", "Source Sans Pro", "Roboto", sans-serif;
	font-size: 16px;
    font-weight: lighter;
	line-height: 1.4em;
}

.bg-primary, .btn-primary, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .site-sidebar, .portal-single-publication .publication-icon {
    background-color: #4482E3; /* Unravel Blue. Was #1976d2 */
}


.warning, .note, .important, .caution, .tip {
    display: block;
    padding: 2px 2px 2px 65px;
    margin-top: 6px;
    margin-bottom: 6px;
}

span.guilabel {
    font-weight: bold;
	color: #41345F; /* Unravel Plum */
}

h3.title {
font-variant: small-caps;
}


.varname {
	font-style: italic;
}
