



















@import url("cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css");


body {
    font-family: "HelveticaNeue", "Helvetica", "Rubik", sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
    color: black;
    background-color: #f8f8f8; /*  off white */
    letter-spacing: .2px
}

/**** LOGO ****/
.logo {
    border-width: 0px 0px 0px 0px;
    width:auto;
}

.portal-header h1 {
    color: white;
}

/**** set panel to page background color ****/
.panel {
    background-color: #f8f8f8;
}

.panel-body {
    padding: 5px 30px;
    background-color: #f8f8f8;
}

.panel-default > .panel-heading {
    background-color: #f8f8f8

}
.panel-heading {
    background-color: #f8f8f8;
}

/***** FEATURED CONTENT *****/
/**** make featured content toc buttons invisible  ****/
toc-count .portal-header
.portal-search button,
.publication-contents
  
span.toc-count {
    background-color: #f8f8f8;
    color: #f8f8f8;
}

/**** turn off featured content ****/

.featured-content-label, .featured-content {
display: none;
}

/* *** LHS gutter of topic page ****/
.theme1.page-toc main article {
    padding-left: 9.0%;
}


/**** Page titles same no matter the "depth" ****/
#topic-content > section > .titlepage .title {
    font-size: 1.45em;
    font-weight: 500;
    color: rgba(65, 52, 95, .9); /* Unravel Plum  */
    margin-bottom: .5em !important;
}

/**** Page titles same no matter the "depth" ****/
#topic-content > section > .titlepage .subtitle {
    font-size: 1.25em;
    font-weight: 500;
    color: rgba(65, 52, 95, .9); /* Unravel Plum  */
    margin-top: 0em;
    margin-bottom: 1.1em;
}
.topic-content .breadcrumb {
    font-size: 11px;
}

/**** SIDEBAR TOC to Unravel Plum ****/
div.sidebar-title {
    font-size: 1.35em;
    font-weight: 500;
    margin-top: 1.5em;
    text-transform: none;
    color: rgba(65, 52, 95, .9); /*  Plum  */ 
    margin-bottom:.6em;
}

/**** remove "in this section" toc at bottom of page ****/
.no-section-toc + .footer-content .section-toc {
display: none;
}

/**** toolbar, feedback panel and nav buttoms to same background as page ****/
.toolbar {
    background-color: #f8f8f8;
}

div.feedback-panel {
    background-color: #f8f8f8;
    border-width: 0px 0px 0px 0px;
}
.pager li > a, .pager li > span {
    background-color: #f8f8f8;
    border-radius: 15px;
}

/*  */
.bg-primary,
.btn-primary,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.site-sidebar,
.portal-single-publication .publication-icon {
    background-color: #41345F; /* Unravel Plumb,  Unravel Blue #4482E3; Was #1976d2 */
}

a {
    font-weight: 500;
    color: rgba(68, 130, 227, 1); /* Unravel Blue */
}

.pagination > .active > a:hover,
.pagination > .active > span:hover
a:hover,
a:focus,
a:active {
    text-decoration: underline;
    color: rgba(68, 130, 227, 1); /* Unravel Blue */
}

.cc-color-override--562569728.cc-window {
    background-color: rgb(65, 52, 95);
}

.cc-color-override--562569728 .cc-btn:hover,
.cc-color-override--562569728 .cc-btn:focus {
    background-color: rgb(98, 211, 242);
}

.cc-color-override--562569728.cc-revoke {
    background-color: rgb(98, 211, 242);
}

.center {
    text-align: center;
}

.portal-header .portal-search button,
.publication-contents h4 span {
    background-color: #4482E3; /* was 62D3F2 */
}

/**** Admonitions ****/
.warning,
.note,
.important,
.caution,
.tip {
    padding: 0px 0px 2px 45px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.warning h3,
.warning h3.title,
.important h3,
.important h3.title,
.note h3,
.note h3.title,
.caution h3,
.caution h3.title,
.tip h3,
.tip h3.title {
    font-size: 1.35em;
    margin-top: 1.5em;  
}

/* *** HEADERS ****/
h1,
.h1,
h1.title,
h1.bridgehead
{
  font-size: 2.7em;
  font-weight: 600;
}

h2, .h2, h2.title, h2.bridgehead, 
h3, .h3, h3.title, h3.bridgehead, 
h4, .h4, h4.title, h4.bridgehead, 
h5, .h5, h5.title, h5.bridgehead, 
h6, .h6, h6.title, h6.bridgehead, 
h7, .h7, h7.title, h7.bridgehead, 
h8, .h8, h8.title, h8.bridgehead, 
h9, .h9, h9.title, h9.bridgehead
{
    font-weight: 500;
    line-height: 1.1;
    color: rgba(65, 52, 95, .9); /*  Plum  */
    text-transform: none;
    margin-top: 3.0em;
}


h2, .h2, h2.title, h2.bridgehead
{
    font-size: 2.1em;
}


.h3, h3, h3.title, h3.bridgehead
{
    font-size: 1.9em;
}


.h4, h4, h4.title, h4.bridgehead
{
    font-size: 1.7em;
}

.h5, h5, h5.title, h5.bridgehead
{
    font-size: 1.5em;
        margin-top: 2em;
}

.h6, h6, h6.title, h6.bridgehead
 {
    font-size: 1.375em;
        margin-top: 2em;
}


.h7, h7, h7.title, h7.bridgehead,
h8, .h8, h8.title, h8.bridgehead,
h9, .h9, h9.title, h9.bridgehead
{
   font-size: 1.15em;
         margin-top: 1.5em;
}



h1.compress0,
h2.compress0,
h2.compress0,
h3.compress0,
h4.compress0,
h5.compress0,
h6.compress0,
h7.compress0,
h8.compress0,
h9.compress0,
h1.title.compress0,
h2.title.compress0,
h2.title.compress0,
h3.title.compress0,
h4.title.compress0,
h5.title.compress0,
h6.title.compress0,
h7.title.compress0,
h1.bridgehead.compress0,
h2.bridgehead.compress0,
h2.bridgehead.compress0,
h3.bridgehead.compress0,
h4.bridgehead.compress0,
h5.bridgehead.compress0,
h6.bridgehead.compress0,
h7.bridgehead.compress0,
div.sidebar-title.compress0 {
    margin-top: .3em;
    margin-bottom: .3em;
    font-size: 1.4em;
}

h1.compress,
h2.compress,
h2.compress,
h3.compress,
h4.compress,
h5.compress,
h6.compress,
h7.compress,
h8.compress,
h9.compress,
h1.title.compress,
h2.title.compress,
h2.title.compress,
h3.title.compress,
h4.title.compress,
h5.title.compress,
h6.title.compress,
h7.title.compress,
h1.bridgehead.compress,
h2.bridgehead.compress,
h2.bridgehead.compress,
h3.bridgehead.compress,
h4.bridgehead.compress,
h5.bridgehead.compress,
h6.bridgehead.compress,
h7.bridgehead.compress,
div.sidebar-title.compress {
    margin-top: .3em;
    margin-bottom: .3em;
    font-size: 1.4em;
}

h1.compress1,
h2.compress1,
h2.compress1,
h3.compress1,
h4.compress1,
h5.compress1,
h6.compress1,
h7.compress1,
h1.title.compress1,
h2.title.compress1,
h2.title.compress1,
h3.title.compress1,
h4.title.compress1,
h5.title.compress1,
h6.title.compress1,
h7.title.compress1,
h1.bridgehead.compress1,
h2.bridgehead.compress1,
h2.bridgehead.compress1,
h3.bridgehead.compress1,
h4.bridgehead.compress1,
h5.bridgehead.compress1,
h6.bridgehead.compress1,
h7.bridgehead.compress1,
div.sidebar-title.compress1 {
    margin-top: .05em;
    margin-bottom: .05em;
    font-size: 1.2em;
}

div.panel.panel-default {
    padding-top: 0em;
    margin-top: 0em;
}
span.guilabel {
    color: rgba(65, 52, 95, 1); /* Unravel Plum */
    font-weight: 700;
}

/*  decrease space between list items */
.listitem p {
    margin-bottom: .425em;
}
/*  decrease space between list items */
.listitem td p {
    margin-bottom: .2em;
}

.nostyle {
   list-style-type: none;
}
p,
pre {
    margin: 0 0 .95%;
}


/*  Programisting */

pre.programlisting {
    background-color: #fefefe;
}

/*  Screen */
pre.screen {
   background-color: rgba(65, 52, 95, .80); /*  unravel plum */
   color: white;
}

pre.programlisting,
pre.screen  {
  font-size: .98em;
}

.filename, .code, .varname, .command {
    border-radius: 0px;
    padding:0px;
    color: black;
    background-color:  rgba(0, 0, 0, .055);
    font-weight: 400;
    font-family:courier, monospace;
    word-break: break-word;
    font-size: .99em;
}


.property {
    border-radius: 0px;
    padding:0px;
    background-color: rgba(68, 130, 227, .10);
    font-weight: 400;
    word-break: break-word;
    font-size: .985em;
    color: navy;  
}

.command strong {
    font-weight: 400;
}


.varname {
    font-style: italic;
    font-weight: 500;
    color: #E97444;
    background-color: transparent;
    font-size: 1.1em;
}

.comment {
    font-style: italic;
    font-weight: 500;
    color: red;
    font-size: .98em;
}

.larger {
    font-weight: 600;
    font-size: 1.12em;
        color: rgba(65, 52, 95, .9); /*  Plum  */
}


/* *** IMAGES *** */
img {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: gray;
    width: 80%
}


.inlinemediaobject {
    vertical-align: text-bottom;
    border-style: none;
    border-width: 0px 0px 0px 0px;
}
.inlinemediaobject img:not([height]):not([width]) {
    border-style: none;
    border-width: 0px 0px 0px 0px;
}


.image-viewport img {
    margin: 0px;
}

td a
{
    word-break: break-word;
    overflow-wrap: break-word; 
}

wrap {

    overflow-wrap: break-word;
}
table .left {
  position: fixed;
  width: 200px;
}

/* */
table {
   margin-bottom: 1.2em;
   table-layout: fixed;
}

/*  table header */
th {
    background-color: rgba(65, 52, 95, .35); /*  unravel plum */
    color: black;
    font-size: 1.1em;
    font-weight: 500;
}

td a
{
    word-break: break-word;
    overflow-wrap: break-word;
}

.wrap {
   overflow-wrap: break-word; 
} 

.filled {
     background-color: rgba(65, 52, 95, .075); /*  unravel plum */
}

/*  decrease white space between table p */
.informaltable td p,
.informaltable th p,
.table td p,
.table th p {
    font-size: .92em;
    margin: 0px;
    margin-bottom: 0px;
    margin-bottom: .2em;
   
}

.table td p
{
    margin-bottom: .1em;
}   


.tinier
{
    font-size: .7em !important;
}   

.informaltable td varname,
.table td varname,
.informaltable td property,
.table td property
{
    font-size: .96em;
    margin: 0px;
    margin-bottom: 0px;
    margin-bottom: .2em;
}
 
.cat-panel-1:before {
    content: "\f29a";  /* overview */
}
.cat-panel-2:before{
    content: "\f292"; /* # - release notes */
}
.cat-panel-3:before{
    content: "\f0ce"; /* matrix - compat matrix */
}
.cat-panel-4:before{
    content: "\f019"; /* download - downloads */
}
.cat-panel-5:before{
    content: "\f07c"; /* open folder - oss*/
}
.cat-panel-6:before{
    content: "\f02d"; /* book - current documentation */
}
.cat-panel-7:before{
    content: "\f1ea"; /* newsletters - newspapers */
}

/****  BEGIN --   added  to pin left column when scrolling table 
 Currently not working
.table-scroll {
	position:relative;
	max-width:600px;
	margin:auto;
	overflow:hidden;
	border:1px solid #000;
}
.table-wrap {
	width:100%;
	overflow:auto;
}
.table-scroll table {
	width:100%;
	margin:auto;
	border-collapse:separate;
	border-spacing:0;
}
.table-scroll th, .table-scroll td {
	padding:5px 10px;
	border:1px solid #000;
	background:#fff;
	white-space:nowrap;
	vertical-align:top;
}
.table-scroll thead, .table-scroll tfoot {
	background:#f8f8f8;
}
.clone {
	position:absolute;
	top:0;
	left:0;
	pointer-events:none;
}
.clone th, .clone td {
	visibility:hidden
}
.clone td, .clone th {
	border-color:transparent
}
.clone tbody th {
	visibility:visible;
	color:red;
}
.clone .fixed-side {
	border:1px solid #000;
	background:#eee;
	visibility:visible;
}
.clone thead, .clone tfoot{background:transparent;}

-   added  to pin left column when scrolling table ****/


 /*  first page */
 



/* Algolia DocSearch 
.algolia-autocomplete .ds-dropdown-menu:before{
    display: none!important;
}
.tool-search-form .algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu{
    left: 23%!important;
    margin: 0px 0 0!important;
    max-width: 1000px;
}
.tool-search {
margin-bottom: -15px;
}


.site-sidebar{
    overflow-x: initial;
    overflow-y: initial;
}
 */

@import url("cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css");






































